@charset "UTF-8";
@font-face {
    font-family: 'HelveticaNeueBlack';
    src: local("☺"), url("../fonts/HelveticaNeueCyr-Black.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueBold';
    src: local("☺"), url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueItalic';
    src: local("☺"), url("../fonts/HelveticaNeueCyr-Italic.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueLight';
    src: local("☺"), url("../fonts/HelveticaNeueCyr-Light.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueMedium';
    src: local("☺"), url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueThin';
    src: local('☺'), url('../fonts/HelveticaNeueCyr-Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueLightItalic';
    src: local("☺"), url("../fonts/HelveticaNeueCyr-LightItalic.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}